<section class="advantages">
  <div class="advantages-container">
    <ol class="advantages-list">
      <li class="advantages-item">
        <p class="advantages-num current">01</p>
        <p class="advantages-text">
          Swimming and water sports: try your hand<br />at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-num current">02</p>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-num current">03</p>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-num current">04</p>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>

    <div class="advantages-foto">
      <picture class="advantages-pictr">
        <source
          srcset="
            ./img/advantages/advantages_desk1440_1x.jpg 1x,
            ./img/advantages/advantages_desk1440_2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          class="advantages-pictr"
          srcset="
            ./img/advantages/advantages_desk1280_1x.jpg 1x,
            ./img/advantages/advantages_desk1280_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          class="advantages-pictr"
          srcset="
            ./img/advantages/advantages_tab_1x.jpg 1x,
            ./img/advantages/advantages_tab_2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          class="advantages-pictr"
          srcset="
            ./img/advantages/advantages_mob_1x.jpg 1x,
            ./img/advantages/advantages_mob_2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="advantages-pictr"
          src="./img/advantages/advantagess_desk1280_2x.jpg"
          alt="Advantages"
        />
      </picture>
    </div>
  </div>
</section>
