
    <div class="container-ft">
        <div class="footer-container">
            <div class="container-logo-nav-soc">
                <p class="footer-logo"><a href="index.html">yachtjet</a></p>
                <nav>
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item"> <a class="footer-list-item" href="#anchor-about">About</a></li>
                        <li class="footer-nav-item"> <a class="footer-list-item" href="#anchor-yacht">Yachts</a></li>
                        <li class="footer-nav-item"> <a class="footer-list-item" href="#anchor-reviews">Reviews</a></li>
                    </ul>
                </nav>
                <ul class="footer-social-list">
                    <li class="footer-social-item">
                        <a class="social-link" target="_blank" href="https://www.instagram.com/goitclub/  "><svg
                                width="24" height="24">
                                <use href="./img/icons.svg#icon-instagram-footer"></use>
                            </svg></a>
                    </li>
                    <li class="footer-social-item">
                        <a class="social-link" href="https://www.youtube.com/c/GoIT " target="_blank">
                            <svg width="24" height="24">
                                <use href="./img/icons.svg#icon-youtube-footer"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a class="social-link" href="https://www.facebook.com/goITclub/" target="_blank">
                            <svg width="24" height="24">
                                <use href="./img/icons.svg#icon-facebook-footer"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-container-title">
                <p class="footer-title">No matter which yacht you choose, our experienced crew will ensure that your
                    journey is smooth and enjoyable.</p>
            </div>
            <div class="container-privacy">
                <p class="footer-small-text">2023. Yacht Adventures</p>
                <a class="footer-link" href="">Privacy Police</a>
            </div>
        </div>
    </div>
