<div class="header fixed-header">
    <div class="container-head">
        <div class="header-line">
            <nav class="header-nav">
                <a href="/index.html" class="header-logo">yachtjet</a>

                <ul class="header-nav-list">
                    <li class="head-list-item"><a href="#anchor-about" class="head-nav-item current-header">About</a></li>
                    <li class="head-list-item"><a href="#anchor-yacht" class="head-nav-item">Yachts</a></li>
                    <li class="head-list-item"><a href="#anchor-reviews" class="head-nav-item">Reviews</a></li>
                </ul>
            </nav>

            <div class="soc-header-cont">
                <ul class="soc-list">
                    <li class="soclist-item">
                        <a href="https://www.instagram.com/goitclub/" target="_blank" class="soclist-link">
                            <svg class="icon-soc-header" width="20" height="20">
                                <use href="./img/icons.svg#icon-inst"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="soclist-item">
                        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="soclist-link">
                            <svg class="icon-soc-header" width="20" height="20">
                                <use href="./img/icons.svg#icon-ytb"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="soclist-item">
                        <a href="https://www.facebook.com/goITclub/" target="_blank" class="soclist-link">
                            <svg class="icon-soc-header" width="20" height="20">
                                <use href="./img/icons.svg#icon-fcb"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <button type="button" class="menu-open-btn">
                <svg class="icon-menu-open" width="28" height="28">
                    <use href="./img/icons.svg#icon-menu-open"></use>
                </svg>
            </button>
        </div>
    </div>


    <div class="mob-menu">
        <div class="container-head">
            <div class="header-line">
                <nav class="header-nav">
                    <a href="/index.html" class="header-logo">yachtjet</a>
                </nav>

                <button type="button" class="menu-exit-btn">
                    <svg class="icon-menu-exit" width="16" height="16">
                        <use href="./img/icons.svg#icon-menu-exit"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="mob-menu-and-soc">
            <nav class="mob-menu-nav">
                <ul class="mob-nav-list">
                    <li class="mob-list-item"><a href="" class="mob-nav-item current-header">About</a></li>
                    <li class="mob-list-item"><a href="" class="mob-nav-item">Yachts</a></li>
                    <li class="mob-list-item"><a href="" class="mob-nav-item">Reviews</a></li>
                </ul>
            </nav>
        </div>

        <ul class="mob-soc-list">
            <li class="mob-soclist-item">
                <a href="https://www.instagram.com/goitclub/" target="_blank" class="soclist-link">
                    <svg class="icon-mob-menu" width="20" height="20">
                        <use href="./img/icons.svg#icon-inst"></use>
                    </svg>
                </a>
            </li>

            <li class="mob-soclist-item">
                <a href="https://www.youtube.com/c/GoIT" target="_blank" class="soclist-link">
                    <svg class="icon-mob-menu" width="20" height="20">
                        <use href="./img/icons.svg#icon-ytb"></use>
                    </svg>
                </a>
            </li>

            <li class="mob-soclist-item">
                <a href="https://www.facebook.com/goITclub/" target="_blank" class="soclist-link">
                    <svg class="icon-mob-menu" width="20" height="20">
                        <use href="./img/icons.svg#icon-fcb"></use>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
</div>