<section class="hero-sec">
    <div class="container-hero hero-wrap">
        <h1 class="title-hero">Explore the High Seas with Our Luxury Yacht Rentals</h1>

        <p class="text-hero">Experience the freedom and luxury of yachting on the open seas. Choose from our
            top-of-the-line yachts and embark on an
            unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.
        </p>

        <a href="#anchor-rent"><button class="hero-rent-btn">Yacht rental</button></a>
    </div>
</section>