<section class="yacht">
    <div class="yacht-container">
        <h2 class="yacht-title">Choose your dream yacht and sail away into the sunset</h2>
        <ul class="yacht-list">
            <li class="yacht-item">
                <img class="yacht-img" srcset="../img/yacht-images/yaht-arrow-1x.png 1x , ../img/yacht-images/yaht-arrow-2x.png 2x, " src="../img/yacht-images/yaht-arrow-1x.png" alt="yaht-arrow">
                <div class="yacht-item-title-wrap">
                    <h3 class="yacht-item-title">Arrow</h3>
                    <p class="yacht-item-title-text">LUXURY YAHTS</p>
                </div> 
                <div class="yacht-item-wrap">
                    <ul class="yacht-text-list">
                        <li class="yacht-text-item"><p class="yacht-item-char">LENGTH</p></li>
                        <li class="yacht-text-item"><p class="yacht-item-char">BUILDER</p></li>
                        <li class="yacht-text-item"><p class="yacht-item-char">BUILT</p></li>
                        <li class="yacht-text-item"><p class="yacht-item-char">GUESTS</p></li>
                        <li class="yacht-text-item"><p class="yacht-item-char">PRICE</p></li>
                    </ul>
                    <ul class="yacht-text-list">
                        <li class="yacht-text-item"><p class="yacht-item-text">48m(155ft)</p></li>
                        <li class="yacht-text-item"><p class="yacht-item-text">Admiral</p></li>
                        <li class="yacht-text-item"><p class="yacht-item-text">2021</p></li>
                        <li class="yacht-text-item"><p class="yacht-item-text">11 in 5 cabins</p></li>
                        <li class="yacht-text-item"><p class="yacht-item-text">€33,500,000</p></li>
                    </ul>
                </div>               
            </li>
            <li class="yacht-item">
                <img class="yacht-img" srcset="../img/yacht-images/yaht-benetti-1x.png 1x , ../img/yacht-images/yaht-benetti-2x.png 2x" src="../img/yacht-images/yaht-benetti-1x.png" alt="yaht-benetti">
                <div class="yacht-item-title-wrap">
                    <h3 class="yacht-item-title">BENETTI OASIS 40...</h3>
                    <p class="yacht-item-title-text">LUXURY YAHTS</p>
                </div>
                <div class="yacht-item-wrap">
                    <ul class="yacht-text-list">
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">LENGTH</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">SHIPYARD</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">BUILT</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">GUESTS</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">PRICE</p>
                        </li>
                    </ul>
                    <ul class="yacht-text-list">
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">41m (133ft)</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">Benetti</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">2025</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">10 in 5 cabins</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">€23,210,000</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="yacht-item">
                <img class="yacht-img" srcset="../img/yacht-images/yaht-belle-1x.png 1x , ../img/yacht-images/yaht-belle-2x.png 2x" src="../img/yacht-images/yaht-belle-1x.png" alt="yaht-belle">
                <div class="yacht-item-title-wrap">
                    <h3 class="yacht-item-title">BELLE ANNA</h3>
                    <p class="yacht-item-title-text">LUXURY YAHTS</p>
                </div>
                <div class="yacht-item-wrap">
                    <ul class="yacht-text-list">
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">LENGTH</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">SHIPYARD</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">BUILT</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">GUESTS</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-char">PRICE</p>
                        </li>
                    </ul>
                    <ul class="yacht-text-list">
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">50m(155ft)</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">ISA</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">2012</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">12 in 6 cabins</p>
                        </li>
                        <li class="yacht-text-item">
                            <p class="yacht-item-text">€21,000,000</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <a href="#goga" class="yacht-link">Yacht rental</a>
    </div>
</section>