.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
  border-radius: 24px;
  height: 100%;
  max-width: 100%;
  background: #1b414b;
  padding: 80px 20px;
}
.advantages-item {
  display: block;
  max-width: 100%;
  height: 100%;
}
.advantages-num {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
  max-width: 100%;
}
.current {
  position: relative;
  color: #fbfbfb;
  margin: 0 auto;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -18px;
  border-radius: 18px;
  background-color: rgba(251, 251, 251, 0.1);
  height: 2px;
  width: 100%;
}
.advantages-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
  margin: 0 auto;
  padding-top: 38px;
}
.advantages-pictr {
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .advantages-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 32px;
  }
  .advantages-list {
    flex-direction: row;
    row-gap: 32px;
    column-gap: 44px;
    flex-wrap: wrap;
    padding: 90px 32px;
  }
  .advantages-item {
    width: calc((100% - 44px) / 2);
  }
  .advantages-num {
    font-size: 32px;
  }
  .advantages-text {
    font-size: 13px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-container {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 32px;
  }
  .advantages-foto {
    flex-shrink: 0;
  }
  .advantages-list {
    display: flex;
    flex-direction: row;
    row-gap: 44px;
    column-gap: 44px;
    flex-wrap: wrap;
    padding: 90px 50px;
  }
  .advantages-item {
    width: calc((100% - 44px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .advantages-container {
    max-width: 1440px;
  }
}
