.container-head {
    width: 100%;

    min-width: 320px;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    background-color: transparent;
}


.fixed-header {

    position: absolute;
    top: 20px;
    right: auto;
    width: 100%;
    z-index: 1000;

    background-color: transparent;
}

.header {}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFBFB;

    border-radius: 8px;

    padding: 7px 20px;
    width: 100%;

}

.header-nav {
    background-color: transparent;
}

.header-nav-list {
    display: none;
}

.soc-header-cont {
    display: none;
}

.header-logo {
    background-color: transparent;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.menu-open-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menu-open {
    stroke: #1B414B;
    background-color: transparent;
}

/* ----mob-menu------------- */

.mob-menu {
    position: fixed;
    top: 0;
    background-color: #0E1823;
    width: 100%;
    height: 100vh;

    padding-top: 20px;
    padding-bottom: 40px;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open-mob-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu>.container-head {
    margin-bottom: 50px;
}

.menu-exit-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
}

.icon-menu-exit {
    fill: #055545;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-exit-btn:hover .icon-menu-exit,
.menu-exit-btn:focus .icon-menu-exit {
    fill: #0E1823;
}

.mob-menu-and-soc {
    margin-top: auto;
}

.mob-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-bottom: 50px;
}

.mob-list-item {
    display: block;
}

.mob-nav-item {
    display: block;
    width: 91px;
    height: 40px;
    padding: 15px 0;
    border-radius: 8px;
    background: rgba(27, 65, 75, 0.5);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-item:hover,
.mob-nav-item:focus {
    background: #1B414B;
}

.current {
    position: relative;
    background-color: #1B414B;
}

.mob-soc-list {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.soclist-link {
    display: block;
    background-color: transparent;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
}

.icon-mob-menu {
    fill: #FBFBFB;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soclist-link:hover .icon-mob-menu,
.soclist-link:focus .icon-mob-menu {
    fill: rgba(251, 251, 251, 0.8);
}



/* ------MEDIA------- */

/* --768px----------- */

@media screen and (min-width: 768px) {
    .container-head {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    /* header */

    .fixed-header {
        top: 32px;
    }

    .header-line {
        padding: 4px 28px;
    }

    .header-logo {
        font-size: 20px;
    }

    .menu-open-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
        gap: 113px;
    }

    .header-nav-list {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        background-color: transparent;
        align-items: center;
        gap: 4px;
    }

    .head-list-item {
        display: block;
        background-color: transparent;
    }

    .head-nav-item {
        display: block;
        width: 91px;
        height: 40px;
        padding: 15px 0;
        border-radius: 8px;
        background: rgba(27, 65, 75, 0.5);
        font-weight: 400;
        font-size: 9px;
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        color: #fbfbfb;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .head-nav-item:hover,
    .head-nav-item:focus {
        background: #1B414B;
    }

    .current {
        position: relative;
        background-color: #1B414B;
    }

    .soc-header-cont {
        display: block;
    }

    .soc-list {
        display: flex;
        gap: 11px;
        align-items: center;
        justify-content: center;
        background-color: #FBFBFB;
    }

    .icon-soc-header {
        fill: #1B414B;
        background-color: #FBFBFB;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .soclist-link:hover .icon-soc-header,
    .soclist-link:focus .icon-soc-header {
        fill: #062730;
    }

}


/* --1280px----------- */

@media screen and (min-width: 1280px) {
    .container-head {
        max-width: 1180px;
        padding-left: 50px;
        padding-right: 50px;
    }

    /* header */

    .header-line {
        padding: 4px 30px;
    }

    .header-nav {
        gap: 296px;
    }
}


/* --1440px----------- */
@media screen and (min-width: 1440px) {
    .container-head {
        max-width: 1340px;
    }

    /* header */

    .header-nav {
        gap: 375px;
    }
}