/* ======================================================= 
========================REVIEWS======================== 
======================================================= */
.container {
    Width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}


.reviews {
    padding-top: 80px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #fbfbfb;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    background-color: #0E1823;
}

.reviews-title {
    color: #fbfbfb;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
}

.reviews-text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.4;
}

.reviews-person-wrap {
    margin-top: 40px;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.reviews-person-box:nth-child(2), 
.reviews-person-box:nth-child(3) {
    display: none;
}

.reviews-person-box {
    border-radius: 24px;
    padding: 32px 8px;
    width: 335px;
    height: 282px;
    background: #fbfbfb;
}

.reviews-box-img {
    border-radius: 50%;
    margin: 0 auto;
}

.reviews-box-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);

    margin-top: 20px;
}

.reviews-box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.40;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
    margin-top: 8px;
}

/* =========
   ==Table== 
   ========= */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .reviews{
        padding-top: 150px;
    }

    .reviews-title {
        font-size: 48px;
        width: 704px;
        margin-left: auto;
        margin-right: auto;
    }

    .reviews-text {
        font-size: 14px;
        line-height: 1.29;
        margin-top: 25px;
        width: 571px;
        margin-left: auto;
        margin-right: auto;
    }

    .reviews-person-wrap {
        margin-top: 75px;
    }

    .reviews-person-box:nth-child(2){
        display: block;
    }

    .reviews-person-box {
        width: 320px;
    }

    .reviews-box-title {
        margin-top: 24px;
        color: #040306;
    }
}

/* ================
   ==Desktop_1280== 
   ================ */

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }

    .reviews-person-box {
        width: 376px;
        padding: 32px 28px;
    }

    .reviews-title {
        width: 854px;
    }

    .reviews-person-box:nth-child(3){
        display: block;
    }

    @media screen and (max-width: 1439px) {
        .reviews-person-wrap {
            gap: 26px;
        }
    }
}

/* ================
   ==Desktop_1440== 
   ================ */

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
    }

    .reviews-person-box {
        width: 392px;
        padding: 32px 36px;
    }
}